<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>Project maintained by <a href="https://github.com/{{ site.author.github }}">{{ site.author.name}}</a>,
          and the <a href="https://github.com/{{ site.author.github }}/{{ site.project.github }}/graphs/contributors">awesome contributors</a>.</p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
        Hosted on
        <a href="https://github.com">
          <img src="{{ site.url }}/img/footer-logo.png" alt="GitHub • Social coding">
        </a>
      </p>
    </div>
  </div>
</footer>